/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET CSS */

/* OVERALL */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    background-color: #f5f5f5;
}

*{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
/* OVERALL */

/* MAP */
.map {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}

.map__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px;
}

.map__form {
    display: flex;
    flex-wrap: wrap
}

.map__select {
    margin: 0 20px 10px 0;
}

.map__select select {
    padding: 5px 10px;
    border-radius: 15px;
}

.map__box {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 20px auto;
    padding-bottom: 75%;
    padding-top: 30px;
    position: relative;
}
/* MAP */

/* AGENCIES */
.agencies {
    display: none;
    margin: 40px 0;
}

.agencies.active {
    display: block;
}

.agencies__title {
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.agencies__list {
    display: flex;
    flex-wrap: wrap;
}

.agencies__item {
    width: 25%;
    margin: 0 0 20px;
    padding: 0 10px;
}

.agencies__name {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 600;
}

.agencies__adress {}
.agencies__phone-box {}
.agencies__phone {}
/* AGENCIES */

/* INFO WINDOW */
.info {}
.info__name {
    margin: 0 0 5px;
    font-weight: 700;
}
.info__adress {
    margin: 0 0 5px;
}
.info__button {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    background: #eee;
    box-shadow: 0 0 3px 0 #555;
}
/* INFO WINDOW */

@media (max-width: 1023px) {
    .container {
        padding: 0 10px;
    }

    .agencies__item {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .agencies__item {
        width: 50%;
    } 
}

@media (max-width: 576px) {
    .agencies__item {
        width: 100%;
    } 
}