.map {
  width: 100%;
  max-width: 100vw;
  padding: 40px 0;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 30px;
    margin: 0 0 40px;
  }
  
  &__form {
    display: flex;
    flex-wrap: wrap
  }
  
  &__select {
    margin: 0 40px 20px 0;
    font-weight: 300;
  }
  
  &__select select {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #555;
    background: none;
  }
  
  &__box-wrapper {
    margin: 10px auto 20px;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: calc(-50vw + 50%);
      width: 100vw;
      height: calc(100% - 40px);
      background-color: #06164d;
    }
  }

  &__box {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}